.SignUpBox{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    margin: 10px;
}
.username{
    width: 20%;
}
.password{
    width: 20%;
}
.btnSignUp{
   width: 20%;
}